@page "/pelicula"
@*@page "/pelicula/{PeliculaId:int}"
@page "/pelicula/{PeliculaId:Int}/{NombrePelicula:string}"*@

<h3>VisualizarPelicula</h3>

@code {

    [Parameter] public int PeliculaId { get; set; }
    [Parameter] public string NombrePelicula { get;set; }



}
