@page "/personas"

<h3>Indice de Personas</h3>

<div class="form-group">
    <a class="btn btn-info" href="personas/crear">Crear Persona</a>
    <a class="btn btn-info" href="personas/editar/7">Editar Persona</a>

</div>


@code {

}
